<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"> <!-- bean definitions here -->
        
        <bean class="com.gvaiet.springdidemo.beans.Address" id="address1">
        	<property name="area" value="Shelu"></property>
        	<property name="pincode" value="410101"></property>
        </bean>
        
        <bean class="com.gvaiet.springdidemo.beans.Student" id="student1">
        	<property name="rno" value="1"></property>
        	<property name="name" value="ABC"></property>
        	<property name="adress" ref="address1"></property>
        </bean>
        

</beans>